
<div class="container">
    <table class="table"  align="center" width="75%">
        <thead class="thead-dark">
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">DOB</th>
            <th scope="col">E-mail</th>
            <th scope="col" colspan="2">Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let x of data index as i">
            <td>{{x['f_name']}}</td>
            <td>{{x['l_name']}}</td>
            <td>{{x['gender']}}</td>
            <td>{{x['dob']}}</td>
            <td>{{x['email']}}</td>
            <td><button (click)="delete(x.id)">delete</button></td>
            <td><button (click)="updatedata(x.id)">update</button></td>
        </tr>
        </tbody>
    </table><br><br><br>
</div><hr>
<div class="signup-form">
    <ng-container *ngIf="show">
        <form >
            <div class="form-group">
                <input type="text" class="form-control" name="f_name" [(ngModel)]="upd.f_name"><br>
                <input type="text" class="form-control" name="l_name" [(ngModel)]="upd.l_name"><br>
                male<input type="radio" name="gender" value="male" [(ngModel)]="upd.gender">
                female<input type="radio" name="gender" value="female" [(ngModel)]="upd.gender"><br>
                <input name="dob" class="form-control" [(ngModel)]="upd.dob"><br>
                <input type="email" class="form-control" name="email"  placeholder="Email"  [(ngModel)]="upd.email"><br>
                <button type="submit" class="btn btn-success" (click)="updt()">update</button><br><br>
            </div>
        </form>
    </ng-container>
</div>


