<table border="1" align="center" width="75%">
    <tr>
        <th>firstname</th>
        <th>lastname</th>
        <th>gender</th>
        <th>dob</th>
        <th>email</th>
        <th colspan="2">operations</th>
    </tr>
    <tr *ngFor="let x of data index as i">
        <td>{{x['f_name']}}</td>
        <td>{{x['l_name']}}</td>
        <td>{{x['gender']}}</td>
        <td>{{x['dob']}}</td>
        <td>{{x['email']}}</td>
        <td><button (click)="delete(x.id)">delete</button></td>
        <td><button>update</button></td>

    </tr>
</table>